<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="SideBarToggler()">
        <mat-icon>menu</mat-icon>
      </button>

      <span>FARMACIA TRABALHADOR POPULAR</span>

      <div class="d-flex flex-row justify-content-flex-end ml-auto">
        <ul class="d-flex flex-row">
          <li>
            <button mat-icon-button>
              <mat-icon>settings</mat-icon>
            </button>
          </li>
          <li>
            <button mat-icon-button>
              <mat-icon>help_outline</mat-icon>
            </button>
          </li>
          <li>
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>person_outline</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon id="exit">exit_to_app</mat-icon>
                Logout
              </button>
            </mat-menu>
          </li>
        </ul>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</header>

<mat-drawer-container>
  <mat-drawer [mode]="mode" [opened]="opened">
    <mat-nav-list>
      <div class="profile-card">
        <div class="header">
          <h2>Farmacia Trab Popular</h2>
          <h4>farmacia@farmacia.com</h4>
          <img src="https://avatars0.githubusercontent.com/u/56001765?s=460&v=4" alt="">
        </div>
      </div>
      <mat-divider></mat-divider>
      <h2 matSubHeader>Pages</h2>
      <a mat-list-item routerLinkActive="mat-list-active" (click)="navigate('/dashboard')">
        <mat-icon>dashboard</mat-icon>
        Dashboard
      </a>
      <a mat-list-item routerLinkActive="mat-list-active" (click)="navigate('/companies')">
        <mat-icon>business</mat-icon>
        Companies
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>