<header *ngIf="authService.authenticated">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="SideBarToggler()">
        <mat-icon>menu</mat-icon>
      </button>

      <h6>Farmácia Trabalhador Popular</h6>

      <div class="d-flex flex-row justify-content-flex-end ml-auto">
        <ul class="d-flex flex-row">
          <li>
            <button mat-icon-button>
              <mat-icon>settings</mat-icon>
            </button>
          </li>
          <li>
            <button mat-icon-button>
              <mat-icon>help_outline</mat-icon>
            </button>
          </li>
          <li>
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>person_outline</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="logout()">
                <mat-icon id="exit">exit_to_app</mat-icon>
                Logout
              </button>
            </mat-menu>
          </li>
        </ul>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</header>

<mat-drawer-container>
  <mat-drawer [mode]="mode" [opened]="opened">
    <mat-nav-list>
      <div class="profile-card">
        <div class="header">
          <h3>Farmácia Trabalhador Popular</h3>
          <h4>Rede social: </h4>
          <h5>farmtrabalhadorpopular</h5>
          <img src="https://instagram.ffor15-1.fna.fbcdn.net/v/t51.2885-19/s150x150/59352395_635193613614379_2163918937358598144_n.jpg?_nc_ht=instagram.ffor15-1.fna.fbcdn.net&_nc_ohc=hwNa5_iRurIAX_PFdsw&oh=d8ddc8d489472706d8951132507246c7&oe=5ECEFC53" alt="">
        </div>
      </div>
      <mat-divider></mat-divider>
      <h2 matSubHeader>Pages</h2>
      <a mat-list-item routerLinkActive="mat-list-active" (click)="navigate('/dashboard')">
        <mat-icon>dashboard</mat-icon>
        Dashboard
      </a>
      <a mat-list-item routerLinkActive="mat-list-active" (click)="navigate('/companies')">
        <mat-icon>business</mat-icon>
        Products
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>