@import '@angular/material/prebuilt-themes/indigo-pink';

html, 
  body {
   height: 100%; 
  }

body { 
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}

* {
  box-sizing: border-box;
}

table {
  width: 100%;
}

.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

@media(min-width: 768px){
  .flex-md-row {
    flex-direction: row;
  }
  
  .w-md-50 {
    width: 50%;
  }
}

.justify-content-flex-end {
  justify-content: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}  

.ml-auto {
  margin-left: auto;
}

.p-1 {
  padding: 0.25em;
}

.p-2 {
  padding: 0.5em;
}

.p-3 {
  padding: 1em;
}


ul li {
  list-style: none;
}

.table-responsive {
  overflow-x: auto;
}

.page-header {
  background-color: #4567a2;
  padding-top: 1em;
  padding-bottom: 6em;

  .title {
    color: white;
    padding: 1em;

    h2 {
      margin: 0;
    }
  }

  .search-wrapper {
    padding: 0 1.2em;
    background-color: white;
    border-radius: 2.3em;
    display: flex;
    align-items: center;

    mat-icon {
      vertical-align: middle;
      color: rgba(0, 0, 0, 0.397);
    }

    input {
      border: none;
      padding: 1em;
      outline: none;
      width: 100%;
    }
  }

  .actions {
    padding: 1em;
  }
}

.page-content {
  padding: 1em;
  margin-top: -5.6em;
}